version: "3.9"

services:
  postgres_db:
    image: postgres:16
    container_name: restaurant_postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo_db:
    image: mongo:latest
    container_name: restaurant_mongo
    restart: always
    ports:
      - ${PORT_MONGO}:27017
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data: